

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: roboto , sans-serif;
}
.icons{
 color: rgb(96, 96, 96);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;

}
.menubar{
    display: flex;
    align-items: center;
}
.menubar img{
    width: 100px;
    margin: 15px;
}
.header i{
    padding: 0px 7px;
    cursor: pointer;
}
.search{
    display: flex;
    align-items: center;
}
.search form{
    border: 1px solid #ddd;
    height: 35px;
    margin: 0;
    padding: 0;
   display: flex;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
}
.search input{
    width: 550px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.btn1{
    padding: 0 10px;
    height: 100%;
    border: none;
    border-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.btn2{
    border-radius: 50%;
    border: none;
    height: 35px;
    width: 35px;
    margin-left:10px ;
}
.menubar-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menubar-icons i{
    height: 30px;
    width: 30px;
}

.menubar-icons img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
.main{
    display: flex;
    /* overflow: hidden; */
    height: 100vh;
}
.you{
    display: flex;
    align-items: center;
    padding: 12px 25px;

}
.sidebar{
    height: 100%;
    width:270px;
    background-color: white;
    overflow-y:scroll;
}
.sidebar1{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px 0 15px 5px;
}
.sidebar-icon{
    display: flex;
    align-items: center;
    padding: 12px 25px;
}
.sidebar span{
    margin-left: 15px;
}
.sidebar-icon i{
    height: 30px;
    width: 30px;
}
.sidebar1 :hover{
    cursor: pointer;
    background-color: #e5e5e5;
    border-radius: 15px;
}
.sidebar::-webkit-scrollbar{
    display: none;
}
hr{
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}

.content{
    background-color: #f9f9f9;
    height: 100%;
    width: 100%;
    padding: 15px 25px;
    border-top: 1px solid #ddd ;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.bar{
    width: 100%;
    padding:6px 6px;
    display: flex;
    justify-content: space-between;
    position: sticky;
}
.bar button{
    border-radius: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #e5e5e5;
    font-size: 15px;
    
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 25px;
}
.video{
    width: 350px;
    margin-right: 10px;
    margin-bottom: 30px;
}
.video_thumbnail{
    height: 200px;
    width: 100%;
}
.video_thumbnail img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.author img{
    object-fit: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.details{
    display: flex;
    margin-top: 10px;
}
.title{
    display: flex;
    flex-direction: column;
}

.title h3 a{
    color: rgb(3, 3, 3);
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 6px;
    font-weight: bold;
}
.title a,span{
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 14px;
}
.video:hover{
    border-radius: 15px;
    cursor: pointer;
}